{
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "extends": ["airbnb"],
  "rules": {
    "indent": [2, 2],
    "linebreak-style": [0],
    "import/no-unresolved": [2, {
      "commonjs": true
    }],
    "import/named": 2,
    "import/default": 2,
    "import/namespace": 2,
    "import/export": 2,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/no-unused-prop-types": 0,
    "max-len": ["warn", 150],
    "no-console": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", {
      "aspects": ["invalidHref"]
    }]
  },
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/parser": "babel-eslint",
    "import/resolve": {
      "extensions": [
        ".js",
        ".jsx",
        ".json"
      ]
    }
  },
  "globals": {
    "Parse": true,
  },
  "env": {
    "jest": true,
  }
}
